@page "/discover"
@implements IDisposable



    <div class="mt-4">
      @*   <Tags Platform="@(_platform)"
              ActiveTagId="@(TagId)"
              OnTagSelect="@((id)=>TagSelected(id))" /> *@
    </div>
    <div class="mt-4">
       @*  <Discover /> *@
    </div>


@code{
    public void Dispose()
    {
        //this.Dispose();
    }
}