/Lib/SharedMauiLib/obj/*
/MusicCast.Components/obj/*
/MusicCast.Components/bin/*
/MusicCast.Pages/obj/*
/MusicCast.Pages/bin/*
/MusicCast.Shared/obj/*
/MusicCast.Shared/bin/*
/MusicCastBlazor/obj/*
/MusicCastBlazor/bin/*

/MusicCastWebBlazor/MusicCastWebBlazor/obj/*
/MusicCastWebBlazor/MusicCastWebBlazor/bin/*
/MusicCastWebBlazor/MusicCastWebBlazor.Client/obj/*
/MusicCastWebBlazor/MusicCastWebBlazor.Client/bin/*
/.vs/*
