/* _content/MusicCast.Pages/Components/Discover/Discover.razor.rz.scp.css */
@media screen and (min-width: 960px) {

    .song-menu-container[b-4z6zyb992v] {
        width: 700px;
        margin: auto;
    }

    .song-menu-item[b-4z6zyb992v] {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .song-menu-name[b-4z6zyb992v] {
        margin-top: 3px;
        font-size: 13px;
    }
}

@media screen and (max-width: 960px) {

    .song-menu-item[b-4z6zyb992v] {
    }
}

.song-menu-img[b-4z6zyb992v] {
    width: 100%;
    height: auto;
}
/* _content/MusicCast.Pages/Components/Player/FloatingPlayer.razor.rz.scp.css */
.player[b-yhfvtpyjqo] {
    box-shadow: 0 30px 48px rgba(0, 0, 0, 0.16), 0 8px 30px rgba(0, 0, 0, 0.14), 0 8px 10px rgba(0, 0, 0, 0.1), 0 4px 12px -10px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: var(--c-neutral-grey9);
    color: var(--c-neutral-white);
    height: 70px;
    padding: 0 16px;
}

.player-info[b-yhfvtpyjqo] {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.player-info-details[b-yhfvtpyjqo] {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.player-info-title[b-yhfvtpyjqo] {
    font-family: var(--ff-semibold);
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
    margin-bottom: 2px;
}

.player-info-data[b-yhfvtpyjqo] {
    color: var(--c-neutral-grey2);
    font-size: var(--text-s-fs);
    line-height: var(--text-s-lh);
}

.player-info-title[b-yhfvtpyjqo],
.player-info-data[b-yhfvtpyjqo] {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-info-date[b-yhfvtpyjqo]:before {
    content: "- ";
}

.player-picture[b-yhfvtpyjqo] {
    margin-right: 12px;
    flex-basis: 56px;
    min-width: 56px;
}

    .player-picture img[b-yhfvtpyjqo] {
        height: auto;
        width: 100%;
    }

.player-controls[b-yhfvtpyjqo] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    padding-left: 40px;
    height: 100%;
}

.player-controls-spinner[b-yhfvtpyjqo] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

    .player-controls-spinner[b-yhfvtpyjqo]  .spinner {
        width: 32px;
    }

.player-controls-buttons[b-yhfvtpyjqo] {
    display: grid;
    align-items: center;
    justify-content: right;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-bottom: 2px;
}

    .player-controls-buttons > button:hover[b-yhfvtpyjqo] {
        cursor: pointer;
    }

.player-controls-action[b-yhfvtpyjqo] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--gradient-final);
}

    .player-controls-action > span[b-yhfvtpyjqo] {
        color: var(--c-neutral-white);
        font-size: 24px;
    }

.player-controls-jump[b-yhfvtpyjqo] {
    color: var(--c-neutral-grey5);
    font-size: 24px;
}

    .player-controls-jump:hover[b-yhfvtpyjqo] {
        color: var(--c-neutral-white);
    }

.player-duration-bar[b-yhfvtpyjqo] {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 8px;
    align-items: center;
}

    .player-duration-bar > span[b-yhfvtpyjqo] {
        font-size: var(--text-s-fs);
        line-height: var(--text-s-lh);
    }

.player-actions[b-yhfvtpyjqo] {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 12px;
}

.player-actions-share[b-yhfvtpyjqo],
.player-actions-later[b-yhfvtpyjqo] {
    color: var(--c-neutral-white);
    font-size: 24px;
}

.player-actions-volume[b-yhfvtpyjqo] {
    color: var(--c-neutral-grey5);
    font-size: 24px;
    margin-left: 20px;
    margin-right: 12px;
}

.player-actions-share:hover[b-yhfvtpyjqo],
.player-actions-later:hover[b-yhfvtpyjqo],
.player-actions-volume:hover[b-yhfvtpyjqo] {
    cursor: pointer;
}

.player-volume-bar[b-yhfvtpyjqo] {
    width: 150px;
}

input[type=range][b-yhfvtpyjqo] {
    --current-width: 0;
    --height: 4px;
    appearance: none;
    border-radius: 2px;
    height: 22px;
    width: 100%;
    background: transparent;
    outline: none;
    position: relative;
}

input[type="range"][b-yhfvtpyjqo]:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: var(--current-width);
    height: var(--height);
    background-color: var(--c-neutral-white);
    cursor: pointer;
    border-radius: 2px;
}

input[type=range][b-yhfvtpyjqo]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--height);
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 0 var(--c-neutral-black);
    background: var(--c-player-range);
    border-radius: var(--border-radius);
    border: 0 solid var(--c-neutral-black);
}

input[type=range][b-yhfvtpyjqo]::-webkit-slider-thumb {
    position: relative;
    box-shadow: 0 0 0 var(--c-neutral-black);
    border: 0 solid var(--c-neutral-black);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--c-neutral-white);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
    display: none;
}

input[type="range"]:hover[b-yhfvtpyjqo] {
    cursor: pointer;
}

input[type="range"]:hover[b-yhfvtpyjqo]:before {
    background-color: var(--c-primary-light);
}

input[type=range]:hover[b-yhfvtpyjqo]::-webkit-slider-thumb {
    display: block;
}

input[type=range][b-yhfvtpyjqo]::-moz-range-track {
    width: 100%;
    height: var(--height);
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 0 var(--c-neutral-black);
    background: var(--c-neutral-grey7);
    border-radius: var(--border-radius);
    border: 0 solid var(--c-neutral-black);
}

input[type=range][b-yhfvtpyjqo]::-moz-range-thumb {
    box-shadow: 0 0 0 var(--c-neutral-black);
    border: 0 solid var(--c-neutral-black);
    height: 16px;
    width: 16px;
    border-radius: var(--border-radius);
    background: var(--c-neutral-white);
    cursor: pointer;
    visibility: hidden;
}

input[type="range"][b-yhfvtpyjqo]::-moz-range-progress {
    background-color: var(--c-neutral-white);
    border-radius: var(--border-radius);
    height: var(--height);
}

input[type="range"]:hover[b-yhfvtpyjqo]::-moz-range-thumb {
    visibility: visible;
}

input[type="range"]:hover[b-yhfvtpyjqo]::-moz-range-progress {
    background-color: var(--c-primary-light);
}

@media screen and (max-width: 991px) {
    .player-picture[b-yhfvtpyjqo],
    .player-duration-bar[b-yhfvtpyjqo],
    .player-actions[b-yhfvtpyjqo] {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .player[b-yhfvtpyjqo] {
        grid-template-columns: 25% 50% 25%;
        height: 90px;
    }

    .player-controls[b-yhfvtpyjqo] {
        padding: 0 36px;
        justify-content: flex-start;
    }

    .player-controls-spinner[b-yhfvtpyjqo]  .spinner {
        width: 48px;
    }

    .player-controls-buttons[b-yhfvtpyjqo] {
        justify-content: center;
        margin-top: 16px;
    }
}

@media screen and (min-width: 1366px) {
    .player-actions-volume[b-yhfvtpyjqo] {
        margin-left: 40px;
    }
}


@media screen and (max-width: 1399px) {
    .player-info-title[b-yhfvtpyjqo] {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* _content/MusicCast.Pages/Pages/DiscoverPage.razor.rz.scp.css */
@media screen and (min-width: 960px) {
    .header[b-xmgi8q23r8] {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .search[b-xmgi8q23r8] {
        width: 200px;
    }
}

@media screen and (max-width: 960px) {
}

.tab-container[b-xmgi8q23r8] {
    display: flex;
}

.tab-item[b-xmgi8q23r8] {
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

    .tab-item.active[b-xmgi8q23r8] {
        border-color: var(--mud-palette-primary);
        color: var(--mud-palette-primary);
    }

.discover-detail[b-xmgi8q23r8] {
    overflow-y: auto;
}
/* _content/MusicCast.Pages/Pages/ShowPage.razor.rz.scp.css */
.showEpisodes[b-3kek8jmm8i] {
    padding: 0 16px;
}

.showEpisodes[b-3kek8jmm8i]  .subtitlePage {
    margin-bottom: 0;
}

@media screen and (min-width: 992px) {
    .showEpisodes[b-3kek8jmm8i] {
        padding: 0 48px;
    }
}

@media screen and (min-width: 1366px) {
    .showEpisodes[b-3kek8jmm8i] {
        margin-left: 332px;
    }
}
/* _content/MusicCast.Pages/Shared/Base/EndLine.razor.rz.scp.css */

.end-line[b-w8aq9zleca] {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    white-space: nowrap;
    margin: 5px;
}

    .end-line[b-w8aq9zleca]::before {
        background: linear-gradient(90deg, transparent 0%, #e6e6e6 10%);
    }

    .end-line[b-w8aq9zleca]::before,
    .end-line[b-w8aq9zleca]::after {
        content: '';
        display: block;
        width: 50%;
        height: 1px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .end-line[b-w8aq9zleca]::after {
        background: linear-gradient(270deg, transparent 0%, #e6e6e6 10%);
    }

    .end-line span[b-w8aq9zleca] {
        color: #999999;
        padding: 0 0.5em;
    }
/* _content/MusicCast.Pages/Shared/Base/Loading.razor.rz.scp.css */
.info[b-wdwl49a2x8] {
    background-color: var(--mud-palette-background);
    margin: auto;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}

.message[b-wdwl49a2x8] {
    margin-top: 10px;
    color: var(--mud-palette-primary);
}
/* _content/MusicCast.Pages/Shared/Header.razor.rz.scp.css */
.header[b-9dk3mj320u]  .header__logo {
    display: flex;
    width: 120px;
    padding: 12px 14px;
    align-items: center;
}

    .header[b-9dk3mj320u]  .header__logo img,
    .header[b-9dk3mj320u]  .header__logo svg {
        width: 100%;
        height: auto;
    }

    .header[b-9dk3mj320u]  .header__logo .logo-label {
        fill: var(--c-neutral-grey8);
    }

@media screen and (min-width: 992px) {
    .header[b-9dk3mj320u]  .header__logo {
        width: 230px;
        padding: 43px 41px;
    }
}
/* _content/MusicCast.Pages/Shared/Lists/EpisodeListItem.razor.rz.scp.css */
.episode-play[b-28b3qf5rzz] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--gradient-final);
    cursor: pointer;
}

.episode-play > span[b-28b3qf5rzz] {
    color: var(--c-neutral-white);
    font-size: 24px;
}

.episode[b-28b3qf5rzz] {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px 32px;
    padding: 28px 2px;
    grid-template-areas:
        'play resumeTitle'
        'play actions';
    border-bottom: 1px solid var(--c-neutral-grey4);
}

.episode:last-of-type[b-28b3qf5rzz] {
    border-bottom: none;
}

.episode-sound[b-28b3qf5rzz] {
    align-items: center;
    grid-area: play;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 44px;
}

.episode-length[b-28b3qf5rzz] {
    color: var(--c-neutral-grey7);
    font-family: var(--ff-regular);
    font-size: var(--text-s-fs);
    line-height: var(--text-s-lh);
}

.episode-resumeTitle[b-28b3qf5rzz] {
    align-items: flex-start;
    display: flex;
    grid-area: resumeTitle;
}

.episode-resumeTitle[b-28b3qf5rzz]  picture {
    margin-right: 12px;
    min-width: 70px;
    width: 70px;
}

.episode-resumeTitle-title[b-28b3qf5rzz] {
    color: var(--c-neutral-grey8);
    font-family: var(--ff-semibold);
    font-size: var(--subheadings-s6-fs);
    line-height: var(--subheadings-s6-lh);
}

.episode-resumeTitle-showTitle[b-28b3qf5rzz] {
    color: var(--c-neutral-grey8);
    font-family: var(--ff-semibold);
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
}

.episode-resumeTitle-title.is-playing[b-28b3qf5rzz] {
    color: var(--c-primary);
}

.episode-resumeTitle-date[b-28b3qf5rzz] {
    color: var(--c-neutral-grey7);
    font-family: var(--ff-regular);
    font-size: var(--text-s-fs);
    line-height: var(--text-s-lh);
}

.episode-description[b-28b3qf5rzz] {
    grid-area: resumeDescription;
    color: var(--c-neutral-dark);
    font-family: var(--ff-regular);
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
    display: none;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.episode-description[b-28b3qf5rzz]  a {
    color: var(--c-primary);
    font-family: var(--ff-semibold);
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
}

.episode-description[b-28b3qf5rzz]  a:hover {
    color: var(--c-primary-light);
    text-decoration: underline;
}

.episode-description[b-28b3qf5rzz]  a:active {
    color: var(--c-primary-dark);
    text-decoration: none;
}

.episode-actions[b-28b3qf5rzz] {
    display: flex;
    grid-area: actions;
    gap: 16px;
    align-items: center;
}

.episode-actions-share[b-28b3qf5rzz],
.episode-actions-later[b-28b3qf5rzz] {
    color: var(--c-primary);
    font-size: 24px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .episode[b-28b3qf5rzz] {
        gap: 16px 48px;
        grid-template-areas:
            'play resumeTitle actions'
            'play resumeDescription actions';
        grid-template-columns: auto 1fr auto;
    }

    .episode-description[b-28b3qf5rzz] {
        display: -webkit-box;
    }
}

@media screen and (min-width: 992px) {
    .episode-actions[b-28b3qf5rzz] {
        align-self: flex-start;
        padding-top: 67px;
    }
}
/* _content/MusicCast.Pages/Shared/MainLayout.razor.rz.scp.css */
@media screen and (min-width: 960px) {
    .page[b-cki60iqy49] {
        display: grid;
        grid-template-rows: 60px 1fr 80px;
        grid-template-columns: 200px 1fr;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    }
}

@media screen and (max-width: 960px) {
    .page[b-cki60iqy49] {
        display: grid;
        grid-template-rows: 1fr 45px 65px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "main"
            "footer"
            "sidebar";
    }
}

.page-header[b-cki60iqy49] {
    grid-area: header;
    padding: 5px 0px 10px 10px;
    border-bottom: 1px solid;
    /*border-color: var(--mud-palette-dark-lighten);*/
}

.logo[b-cki60iqy49] {
    width: 190px;
}

.title[b-cki60iqy49] {
    font-size: 20px;
    color: var(--mud-palette-primary);
}

.page-nav[b-cki60iqy49] {
    grid-area: sidebar;
    padding: 10px 0 10px 0;
  /*  border-right: 1px solid;*/
   /* border-color: var(--mud-palette-dark-lighten);*/
}

.page-main[b-cki60iqy49] {
    grid-area: main;
    overflow: hidden;
    padding: 10px;
}

.page-bottom[b-cki60iqy49] {
    grid-area: footer;
    padding: 10px;
    /*border-top: 1px solid;
    border-color: var(--mud-palette-dark-lighten);*/
}

[b-cki60iqy49] .containerPage {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.error-message[b-cki60iqy49] {
    overflow-y: auto;
    word-break: break-word;
    white-space: pre-line;
    width: auto;
}
/* _content/MusicCast.Pages/Shared/NavMenu.razor.rz.scp.css */
@media screen and (min-width: 960px) {
    .navbar[b-i6wxjii58j] {
        display: flex;
        flex-direction: column;
    }

    .navbar-item[b-i6wxjii58j] {
        width: 100%;
        height: 30px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .navicon[b-i6wxjii58j] {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin-right: 5px;
    }

    [b-i6wxjii58j] .navbar-link {
        display: flex;
        padding: 8px 20px 8px 20px;
    }

        [b-i6wxjii58j] .navbar-link.active,
        [b-i6wxjii58j] .navbar-link:hover {
            background-color: var(--mud-palette-action-default-hover);
        }
}

@media screen and (max-width: 960px) {
    .navbar[b-i6wxjii58j] {
        display: flex;
        justify-content: space-around;
    }

    [b-i6wxjii58j] .navbar-link {
        display: flex;
        flex-direction: column;
    }

    .navicon[b-i6wxjii58j] {
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

[b-i6wxjii58j] .navbar-link.active,
[b-i6wxjii58j] .navbar-link:hover {
    color: var(--mud-palette-primary);
}

.navbar-item[b-i6wxjii58j] {
    font-size: 16px;
}
/* _content/MusicCast.Pages/Shared/SearchBar.razor.rz.scp.css */
.searchBarForm[b-ozvne0u3hj] {
    height: auto;
    margin-bottom: 10px;
    padding: 0 16px;
}

.searchBar[b-ozvne0u3hj] {
    position: relative;
}

.searchBar__icon[b-ozvne0u3hj] {
    color: var(--c-primary);
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}

.searchBar__input[b-ozvne0u3hj] {
    appearance: none;
    outline: 0 none;
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
    background-color: var(--c-searchbar);
    border: 1px solid var(--c-neutral-grey4);
    border-radius: 4px;
    box-sizing: border-box;
    height: 36px;
    padding: 6px 6px 6px 36px;
    max-width: 460px;
    display: block;
    width: 100%;
}

.searchBar__input[b-ozvne0u3hj],
.searchBar__input[b-ozvne0u3hj]::placeholder {
    color: var(--c-neutral-grey8);
}

.searchBar__input:hover[b-ozvne0u3hj] {
    border-color: var(--c-neutral-grey6);
}

.searchBar__input:active[b-ozvne0u3hj],
.searchBar__input:focus[b-ozvne0u3hj] {
    border-color: var(--c-primary);
}

@media screen and (min-width: 992px) {
    .searchBarForm[b-ozvne0u3hj] {
        padding: 0 48px;
    }
}
/* _content/MusicCast.Pages/Shared/ShowResume.razor.rz.scp.css */
.showResume[b-naquryx03d] {
    align-items: stretch;
    display: grid;
    gap: 0 32px;
    padding: 0 16px;
    grid-template-columns: 156px auto;
    grid-template-areas:
        "showPicture showResumeInfo"
        "buttonApp buttonApp"
        "showResumeDescription showResumeDescription";
}

    .showResume:not(:last-child)[b-naquryx03d] {
        margin-bottom: 32px;
    }

.showResume-picture[b-naquryx03d] {
    grid-area: showPicture;
}

.showResume-info[b-naquryx03d] {
    display: flex;
    flex-direction: column;
    grid-area: showResumeInfo;
    gap: 8px;
    margin-bottom: 8px;
}

.showResume-title[b-naquryx03d] {
    color: var(--c-neutral-grey8);
    font-family: var(--ff-semibold);
    font-size: var(--headlines-h6-fs);
    line-height: var(--headlines-h6-lh);
}

.showResume-author[b-naquryx03d] {
    color: var(--c-neutral-grey7);
    font-size: var(--text-s-fs);
    line-height: var(--text-s-lh);
}

.showResume-description[b-naquryx03d] {
    grid-area: showResumeDescription;
    max-width: 796px;
    margin-bottom: 12px;
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
}

.showResume .buttonApp[b-naquryx03d] {
    margin: 24px 0;
}

@media screen and (min-width: 992px) {
    .showResume[b-naquryx03d] {
        grid-template-columns: 300px auto;
        padding: 0 48px;
        grid-template-areas:
            "showPicture showResumeInfo"
            "showPicture showResumeDescription"
            "showPicture buttonApp";
    }

        .showResume .buttonApp[b-naquryx03d] {
            margin: 0;
            width: fit-content;
        }

    .showResume-title[b-naquryx03d] {
        font-size: var(--headlines-h4-fs);
        line-height: var(--headlines-h4-lh);
    }

    .showResume-author[b-naquryx03d] {
        font-size: var(--text-m-fs);
        line-height: var(--text-m-lh);
    }
}
